Daily GitHub Trending notification by Email.json
{
  "name": "Daily GitHub Trending notification by Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "d7483fbc-5a87-473b-a752-40a8f12e9ad9",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://github.com/trending?since=daily",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "31007886-f29e-4daa-8292-5cedf04fa2f9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fromEmail": "orderofoneinsertion@gmail.com",
        "toEmail": "orderofoneinsertion@gmail.com",
        "subject": "=Github Trending ({{ $now.format(\"DD\") }})\n",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "1e984374-6bf2-4ac6-b6b2-c0639277a4af",
      "name": "Send email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1136,
        0
      ],
      "typeVersion": 2.1,
      "webhookId": "b70385e1-5344-49cb-be71-b56759f0bf22",
      "credentials": {
        "smtp": {
          "id": "iXnro5kLAEYTNHvu",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: full GitHub trending HTML in $json.body\n// Output: clean HTML containing only repo list section\n\n// Get HTML from incoming data\nconst html = $json.body || $json.data || \"\";\n\n// Safety: if nothing found, return empty\nif (!html) {\n  return [{\n    clean_html: \"\"\n  }];\n}\n\n// GitHub Trending repo list lives inside <article> tags\nconst repoSectionRegex = /<article[\\s\\S]*?<\\/article>/g;\n\n// Extract all <article> blocks\nconst matches = html.match(repoSectionRegex) || [];\n\n// Join them into clean HTML\nconst cleanHtml = matches.join(\"\\n\\n\");\n\nreturn [{\n  clean_html: cleanHtml\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "a5a11753-1fb8-4d7f-931f-3333177b6446",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "jsCode": "// Input: { clean_html: \"<article>...</article> ...\" }\n// Output: array of repos with only Name, Link, Description, Language, Stars\n\nconst cleanHtml = $json.clean_html || \"\";\nif (!cleanHtml) {\n  return [];\n}\n\n// Split into individual <article> blocks\nconst articles = cleanHtml.split(/<\\/article>/).map(a => a.trim()).filter(a => a);\n\n// Helper to extract with regex\nfunction extract(re, str) {\n  const m = re.exec(str);\n  return m ? m[1].trim() : \"\";\n}\n\nconst repos = articles.map(article => {\n  const name = extract(/<h2[^>]*>\\s*<a[^>]*>([\\s\\S]*?)<\\/a>/, article)\n    .replace(/\\s+/g, \" \") // normalize spacing\n    .trim();\n\n  const link = extract(/<h2[^>]*>\\s*<a[^>]*href=\"([^\"]+)\"/, article);\n  const desc = extract(/<p[^>]*>([\\s\\S]*?)<\\/p>/, article)\n    .replace(/<[^>]+>/g, \"\") // strip tags\n    .trim();\n\n  const language = extract(/itemprop=\"programmingLanguage\">([^<]+)</, article);\n\n  const stars = extract(/stargazers\"[^>]*>[\\s\\S]*?<\\/svg>\\s*([\\d,]+)/, article);\n\n  return {\n    json: {\n      Name: name,\n      Link: link ? \"https://github.com\" + link : \"\",\n      Description: desc,\n      Language: language,\n      Stars: stars\n    }\n  };\n});\n\nreturn repos;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "90a22110-9c4e-4c54-b406-3a28d6965f2f",
      "name": "Extract Data"
    },
    {
      "parameters": {
        "jsCode": "// Build nicer HTML for email (card style)\nconst blocks = items.map(i => `\n  <div style=\"border:1px solid #ddd; border-radius:8px; padding:12px; margin:10px 0; font-family:Arial, sans-serif;\">\n    <h3 style=\"margin:0 0 6px 0; font-size:16px; color:#0366d6;\">\n      <a href=\"${i.json.Link}\" style=\"text-decoration:none; color:#0366d6;\">${i.json.Name}</a>\n    </h3>\n    <p style=\"margin:4px 0 8px 0; color:#555;\">${i.json.Description}</p>\n    <p style=\"margin:0; font-size:14px;\">\n      <strong>Language:</strong> ${i.json.Language} &nbsp;|&nbsp;\n      ⭐ <strong>${i.json.Stars}</strong>\n    </p>\n  </div>\n`).join(\"\\n\");\n\nreturn [{\n  json: {\n    html: `<div style=\"max-width:600px; margin:auto;\">${blocks}</div>`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "6faf3711-0716-4dfa-9a69-f31c53db6bbd",
      "name": "Build HTML"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "edb11602-feb7-4029-8ca3-290a63d9b2a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8fe8e2e7fa1e3b66832529242188f79fda1769eedfc70a1ea128d39f3eecd09"
  },
  "id": "nbezcOavkVuwddJ2",
  "tags": []
}